body{
    text-align: center;
}
header{
    background-color: red;
    width: 100%;
    box-shadow: 3px 3px 10px black;

    div{
        display: inline-flex;
        align-items: center;
        width: 80%;
        h1{
            margin-left: 100px;
        }
        ul{
            display: inline-flex;
            margin-left: auto;
            margin-right: 150px;
            li{
                color: #fff;
                font-size: x-large;
                list-style-type: none;
                margin: 0px 25px;
            }
        }
    }
}



