// variables 
$heading-color:#6dd275;
$color-white:#fff;
$w-container-fluid:100%;
$w-40:40%;
@mixin font($size){
    font-size: $size;
}
#homeSass {
  background-image: linear-gradient(
      to right,
      rgba(82, 24, 24, 0.5),
      rgba(70, 109, 7, 0.2)
    ),
    url("https://images.pexels.com/photos/640781/pexels-photo-640781.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  width: $w-container-fluid;
  height: 860px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-size: cover;
  color:$heading-color;
  div {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    h2 {
      @include font(62px);
      margin: 0px 0px;
      text-decoration: underline;
    }
    p {
      @include font(30px);
      color: $color-white;
      width: $w-40;
      text-align: center;
    }
    button{
        @include font(20px);
        padding: 15px 30px;
        background-color: burlywood;
        border-radius: 10px;
        &:hover{
          background-color: red;
          color: $color-white;
          cursor: pointer;
          transform: scale(1.1);
          transition: ease-in-out;
          transition-duration: 0.8s;
          }
    }
  }
}
